/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* 1. Masukkan ke Grouping agar ukurannya sama dengan yang lain */
.header-html-link::before,
.header-css-link::before,
.header-js-link::before,
.header-tailwind-link::before,
.header-ts-link::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
}
/* --- Styling untuk Icon di Navbar --- */

/* Pengaturan umum untuk icon navbar */
.header-html-link,
.header-css-link {
  display: flex;
  align-items: center;
}

/* Menyisipkan Logo HTML */
.header-html-link::before {
  content: "";
  display: inline-block;
  width: 24px; /* Lebar gambar */
  height: 24px; /* Tinggi gambar */
  margin-right: 8px; /* Jarak antara gambar dan teks */
  background: url("/img/html.png") no-repeat center/contain;
}

/* Menyisipkan Logo CSS */
.header-css-link::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  /* GANTI SEMENTARA KE html.png AGAR TIDAK ERROR */
  background: url("/img/css.png") no-repeat center/contain;
}

/* Menyisipkan Logo JavaScript */
.header-js-link,
.header-js-link {
  display: flex;
  align-items: center;
}

.header-js-link::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  /* Perhatikan ekstensinya .jpg sesuai file yang Anda punya */
  background: url("/img/javascript.jpg") no-repeat center/contain;
  border-radius: 3px; /* Opsional: biar sudutnya agak tumpul */
}

.header-tailwind-link::before {
  background-image: url("/img/tailwind.png");
  background-size: contain; /* Sesuaikan jika perlu zoom seperti CSS */
}

/* Definisi Icon TS */
.header-ts-link::before {
  background-image: url("/img/typescript.png");
  background-size: contain;
}
